:root {
  --white: #ffffff;
  --main-bg-color: #d1d1d1;
  --highlight-color: #ffe01b;
  --light-gray: #8c8c8c;
  --dark-gray: #241c15;
  --dark-blue: #007c89;
  --red: #7e1a1a;
}

.app-container {
  display: grid;
}
